<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/bootstrap.php"
>
  <testsuites>
    <testsuite name="Eden Oauth Test Suite">
      <file>test/Index.php</file>
      <file>test/Oauth1/Index.php</file>
      <file>test/Oauth1/Consumer.php</file>
      <file>test/Oauth2/Index.php</file>
      <file>test/Oauth2/Client.php</file>
      <file>test/Oauth2/Desktop.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./</directory>
    </whitelist>
  </filter>
</phpunit>